body {
	background-color: #b23b19;
	color: #fff;
	font: 16px/1.5 arial, helvetica, sans-serif;
	margin: 0; 
}

#header {
	background-color: #b7a68a;
}

#header h1 {
	margin: 0;
}

.container {
	width: 500px;
	margin: 0 auto;
}


#header .container {
	position: relative;
}



#nav {
	float: right;
}

#nav li a {
	/* make it look like a tab */
	background-color: #84c3b2;
	color: #088077;
	font-size: 1.1em;
	padding: .5em 1em;
	border-radius: 10px 10px 0 0;
	border: 1px solid #088077;
	border-bottom: none;
}

#secondary-nav {
	position: absolute;
	top: 0;
	right: 0;
}
#secondary-nav li {
	padding-left: 1em;
	font-size: 0.8em;
}
#secondary-nav li a {
	color: #777;
}

ul.horizontal {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.horizontal li,
ul.horizontal li a {
	display: inline-block;
	text-decoration: 
}

.post {
	background-color: #f6f3ea;
	color: #222;
	padding: 0 2em;
	position: relative;
}

.figure {
	float: right;
	width: 100px;
	margin: 0 0 1em 1em;
}
.figure p {
	font-size: 0.8em;
	margin: 0;
}

.meta {
	background-color: #84c3b2;
	border: 1px solid #088077;
	width: 60px;
	text-align: center;
	position: absolute;
	left: -45px;
	font-size: 0.8em;
	line-height: 1;
	padding: 1em 0;
}
.meta p {
	margin: 0;
}
.meta span {
	display: block;
	font-size: 2.5em;
	font-weight: bold;
}


.container:before,
.container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after {
    clear: both;
}



